*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --main-bg:#083B4C;
    --buzz-bg:#FFD166;
    --fizz-bg:#0BD6A1;
    --buzzFizz-bg:#F0466F;
    --no-buzzFizz-bg:#1389B2;
}


html{
    font-size: 100%;
}
/* color */

.main-bg{
    background-color: var(--main-bg);
}
.buzz-bg{
    background-color: var(--buzz-bg);
}
.fizz-bg{
    background-color: var(--fizz-bg);
}
.buzzfizz-bg{
    background-color: var(--buzzFizz-bg);
}
.no-buzzfizz-bg{
    background-color: var(--no-buzzFizz-bg);
}
/* utilities */
.container{
    width: 80%;
    margin: 0 auto;
    /* debug */
}

.row{
    display: flex;
    flex-wrap:wrap;
    gap:1em;
}

.card{
    width: calc(100% / 8 - 1em);
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;

}